<a target="_blank" href="{{ content.field_link.0.url }}" class="widget-block block-as-link {{ content.field_background_color.value }}">
    <h2>{{ content.field_title.value }}</h2>
    <div>{{ content.body.value|raw }}</div>
</a>
