<a target="_blank" href="{{ content.field_link.0.url }}" class="widget-block button-block {{ content.field_background_color.value }}">
    <h2>{{ content.field_title.value }}</h2>
    <div class="description">{{ content.field_description.value|nl2br }}</div>
</a>
