<a target="_blank" href="{{ content.field_link.0.url }}" class="widget-block three-sixty-tour {{ content.field_background_color.value }}">
    <i class="icon icon-three-sixty"></i>
    <h2>{{ content.field_title.value }}</h2>
</a>
