{% if node.field_footer_link.title %}
    <div class="button-wrapper mb-5">
        <a target="_blank" href="{{ node.field_footer_link.0.url }}" class="button width-fluid">{{ node.field_footer_link.title }}</a>
    </div>
{% endif %}
