{# templates/newsletter-chimp.html.twig #}
{% block newsletter %}
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup">
    <form action="https://efumo.us10.list-manage.com/subscribe/post?u=d459821fa9e652f8b8a641d92&amp;id=3abed9a627" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" minlength="8" autocomplete="off" placeholder="Subscribe to our newsletter" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d459821fa9e652f8b8a641d92_3abed9a627" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
      <div id="error" style="margin-top: 10px;"></div>
    </form>
  </div>
{% endblock %}
