<div id="page-main-wrapper">
    {% include directory ~ '/templates/partials/header.html.twig' %}
    <div class="page-content-wrapper">
        {{ page.content_menu.breadcrumbsblock }}
        <!-- start of specific page content -->
        <div class="contacts-contact-us-wrapper">
            {{ page.banner }}
            <div class="main-content-width centered padded">
                {{ page.content_menu|without('breadcrumbsblock') }}
            </div>
            {{ page.content }}
        </div>
    </div>
</div>
{% include directory ~ '/templates/partials/footer.html.twig' %}
