<div class="row no-gutters justify-content-center">
  <div class="col layout-main-block">
    <form{{ attributes }}>
      {{ children }}
    </form>
  </div>
  <div class="col layout-right-sidebar"></div>
</div>
